# Zero Variance

In [1]:
# Python Libraries (Packages)
import pandas as pd

# Read data into Python
Z_data = pd.read_csv(r"C:\Users\D\Desktop\New Assignments  Keys\Datasets\Z_dataset.csv")
Z_data

      Id  square.length  square.breadth  rec.Length  rec.breadth  colour
0      1            5.1             3.5         1.4          0.2    Blue
1      2            4.9             3.0         1.4          0.2    Blue
2      3            4.7             3.2         1.3          0.2    Blue
3      4            4.6             3.1         1.5          0.2    Blue
4      5            5.0             3.6         1.4          0.2    Blue
..   ...            ...             ...         ...          ...     ...
145  146            6.7             3.0         5.2          2.3  Orange
146  147            6.3             2.5         5.0          1.9  Orange
147  148            6.5             3.0         5.2          2.0  Orange
148  149            6.2             3.4         5.4          2.3  Orange
149  150            5.9             3.0         5.1          1.8  Orange

[150 rows x 6 columns]

In [2]:
Z_data.dtypes

Id                  int64
square.length     float64
square.breadth    float64
rec.Length        float64
rec.breadth       float64
colour             object
dtype: object

In [4]:
print(Z_data['square.length'].var())
print(Z_data['square.breadth'].var())
print(Z_data['rec.Length'].var())
print(Z_data['rec.breadth'].var())

0.6856935123042505
0.1899794183445188
3.1162778523489942
0.5810062639821029