# Missing Values Imputation

In [1]:
import numpy as np
import pandas as pd

# load the dataset
claimants_data = pd.read_csv(r"C:\Users\D\Desktop\New Assignments  Keys\Datasets\claimants.csv")
claimants_data

      CASENUM  ATTORNEY  CLMSEX  CLMINSUR  SEATBELT  CLMAGE    LOSS
0           5         0     0.0       1.0       0.0    50.0  34.940
1           3         1     1.0       0.0       0.0    18.0   0.891
2          66         1     0.0       1.0       0.0     5.0   0.330
3          70         0     0.0       1.0       1.0    31.0   0.037
4          96         1     0.0       1.0       0.0    30.0   0.038
...       ...       ...     ...       ...       ...     ...     ...
1335    34100         1     0.0       1.0       0.0     NaN   0.576
1336    34110         0     1.0       1.0       0.0    46.0   3.705
1337    34113         1     1.0       1.0       0.0    39.0   0.099
1338    34145         0     1.0       0.0       0.0     8.0   3.177
1339    34153         1     1.0       1.0       0.0    30.0   0.688

[1340 rows x 7 columns]

In [2]:
# check for count of NA'sin each column
claimants_data.isna().sum()

CASENUM       0
ATTORNEY      0
CLMSEX       12
CLMINSUR     41
SEATBELT     48
CLMAGE      189
LOSS          0
dtype: int64

###### There are 4 columns that have missing data ---Create an imputer object that fills 'Nan' values of CLMSEX,CLMINSUR,SEATBELT,CLMAGE
###### Mean and Median imputer are used for numeric data (CLMAGE)
###### mode is used for discrete (categorical) data (CLMSEX,CLMINSUR,SEATBELT)

In [4]:
# for Mean,Meadian,Mode imputation we can use Simple Imputer or df.fillna()
from sklearn.impute import SimpleImputer

# Mean Imputer 
mean_imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
claimants_data["CLMAGE"] = pd.DataFrame(mean_imputer.fit_transform(claimants_data[["CLMAGE"]]))
claimants_data["CLMAGE"].isnull().sum() # all 2 records replaced by mean

0

In [5]:
# Median Imputer
median_imputer = SimpleImputer(missing_values=np.nan, strategy='median')
claimants_data["CLMAGE"] = pd.DataFrame(median_imputer.fit_transform(claimants_data[['CLMAGE']]))
claimants_data["CLMAGE"].isnull().sum() # all 2 records replaced by median

0

In [6]:
# Mode Imputer
mode_imputer = SimpleImputer(missing_values=np.nan, strategy='most_frequent')
claimants_data["CLMSEX"] = pd.DataFrame(mode_imputer.fit_transform(claimants_data[['CLMSEX']]))
claimants_data["CLMINSUR"] = pd.DataFrame(mode_imputer.fit_transform(claimants_data[['CLMINSUR']]))
claimants_data["SEATBELT"] = pd.DataFrame(mode_imputer.fit_transform(claimants_data[['SEATBELT']]))
claimants_data.isnull().sum()

CASENUM     0
ATTORNEY    0
CLMSEX      0
CLMINSUR    0
SEATBELT    0
CLMAGE      0
LOSS        0
dtype: int64

###### Now, finally our data has no NA values